body {
  text-align: center;
}
body * {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  max-width: 500px;
  background-color: bisque;
  margin: auto;
  container: main-container/inline-size;
}
main h1 {
  font-size: clamp(10px, 10cqi, 50px);
}
main p {
  background-color: aquamarine;
  width: clamp(1px, 4vw, 20vw);
}

article {
  max-width: 1000px;
  background-color: skyblue;
  margin: auto;
  container: article/inline-size;
}
article h2 {
  font-size: clamp(10px, 3cqi, 30px);
}
article ul {
  padding: 1rem;
}
@container article (inline-size > 800px) {
  article ul {
    padding: 2rem;
  }
}
article ul li {
  background-color: whitesmoke;
}
@container article (700px <= width <= 900px) {
  article ul li {
    background: red;
  }
}

section {
  padding: 2rem;
  background-color: darkslateblue;
}
section table {
  border-collapse: collapse;
  border-bottom: 2px solid skyblue;
  color: white;
}
section table thead th {
  border-bottom: 1px solid yellowgreen;
  background-color: gray;
  padding: 0.5rem;
}
section table tbody th {
  padding: 0.5rem;
  background-color: #999;
  border: 2px solid #fff;
}
section table tbody td {
  padding: 0.5rem;
  border-right: 2px solid yellow;
}
section table tbody th ~ * {
  border-top: 2px solid skyblue;
}